@{
    ViewBag.Title = "Tools Use";
}

<h2>Tools Use</h2>
<p>Select a mock tool to test:</p>
<ul>
    <li>@Html.ActionLink("Basic Tools (e.g. Weather)", "BasicTools", "Tools")</li>
    <li>@Html.ActionLink("Web Search", "WebSearch", "Tools")</li>
</ul>
